
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  
}

body {
    background-color: lightyellow;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}

header{
    height: 90px;
    width: 100%;
    background-color: lightyellow;
    padding-top: 1rem;
}

header{
   
    border-bottom: 10px solid lightpink;
}


h1 {
    padding: 3rem;
    font-size: 6rem;
    color: lightpink;
    
}

h2 {
    padding: 3rem;
    font-size: 4rem;
    color: rgb(246, 126, 146);
}

a {
    font-size: 3rem;
    margin: 6rem;
    padding: 6rem;
    color: rgb(133, 209, 234);
    text-decoration: none;
  
}

section {
    margin: 0 auto;
    width: 500px;
    border: 5px solid lightpink;
    border-radius: 20px;
}

button {
     background-color: pink;
     border: none;
     border-radius: 20px;
     padding: 20px;
    font-size: 20px;
    color: rgb(244, 82, 109);
}

footer {
    height: 90px;
    width: 100%;
    background-color: lightpink;
    color: white;
    margin: 0%;
}
.copy {
    height: 20px;
    width: 20px;
}